body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    /* padding-left: 5em;
    padding-right: 5em; */
}

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.4rem;
}

header {
    background-color: rgb(162, 226, 241);
    /* padding-left: 14em; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

main, header, article {
    display: flex;
    flex-direction: column;
}

main, header {
    align-items: center;
}

article {
    width: 60rem;
}

label {
    font-size: 1.2em;
}

textarea, #result {
    padding: 1em;
    font-family: 'PT Sans', 'sans-serif'
}

textarea {
    margin-bottom: 2em;
    font-size: inherit;
}

button {
    /* border-radius: 80px; */
    /* background-color: rgb(162, 226, 241); */
    border: none;
}


#result {
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(90, 90, 90);
}


#optionsSectionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#optionsSectionHeader h2 {
    margin-top: 0px;
}

/* arrows - referenced https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}