/* colors */
.toolTip .toolTipText,
.scoredWord .toolTipText {
    /* background-color: black; */
    background-color: #193819;
}

.toolTip .toolTipText::after,
.scoredWord .toolTipText::after {
    border-color: #193819 transparent transparent transparent;
}

header, .superColumnHeader, .superRowHeader {
    background-color: #31572C;
}

/* .summaryTableContainer th:not(.superRowHeader):nth-child(even) {
    background-color: #40672D;
    background-color: #476929;
} */

input::file-selector-button,
input:checked,
th {
    background-color: #4F772D;
    accent-color: #4F772D;
}

a {
    color: #4F772D;
}

button {
    background-color: #709041;
}

article > section, .tableContainer {
    background-color: #BECE7A;
}



.explanationSubSections {
    background-color: #D5E18C;
}

.explanationSubSections:nth-child(odd) {
    background-color: #ECF39E;
}

.explanationSubSections:last-child,
.subSection,
.fileResultsHeader,
.fileResultsContainer {
    background-color: #F2F7BC;
}


td {
    background-color: #F5F9CB;
}

body, textarea {
    background-color: #F7FBDA;
}





/* text colors */

.toolTip .toolTipText,
.scoredWord .toolTipText,
th {
    color: white;
}

footer {
    color: #887c69;
}








/* general stylings */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

header {
    padding: 0.5em;
    color: white;
}

main, header, article, #inputSection > section {
    display: flex;
    flex-direction: column;
}

main, header {
    align-items: center;
}

article, footer {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

article {
    width: 80%;
}

.large-label {
    font-size: 1.2em;
}

textarea, #verdict, #textResult {
    padding: 1em;
    font-family: 'PT Sans', 'sans-serif';
}

textarea {
    margin-bottom: 1em;
    font-size: inherit;
}

button {
    border-radius: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
}

article > section {
    padding: 0.75rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}


.explanationSubSections {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.explanationSubSections>p {
    margin-top: 0.25rem;
    margin-bottom: 0px;
}

#explanationSection>h2 {
    margin-bottom: 0.25rem;
}



#optionsSection, .fileResultsContainer {
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    padding-top: 0px;
}

#optionsSection, #inputSection {
    padding-bottom: 1.5rem;
}

#explanationSection p {
    margin-top: 5px;
    margin-bottom: 0px;
}

#optionsSectionHeader, #optionsSection, #listContainer, .fileResultsHeader, .dropDownHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropDownHeader {
    margin-bottom: 1rem;
}



/* arrows - referenced https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    /* border: solid black; */
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}




#optionsSection section {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.subSection {
    padding: 10px;
    border-radius: 10px;
}

#lexiconOptions, #stopwordsOptions {
    width: 45%;
}

#stopwordsOptions p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#customStopwordsSection, #customLexiconSection {
    margin-top: 1rem;
}



input[type="file"] {
    padding-top: 0.75rem;
    font-size: 1rem;
}

input::file-selector-button {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}


#textInputSection {
    margin-top: 0.75rem;
    display: flex;
}

#input {
    width: 80%;
    margin-left: 7.75%;
    margin-top: 10px;
}

#fileSelectSection {
    margin-top: 1rem;
}



.scoredWord {
    color: #DE0000;
    font-weight: 700;
}

/* container for text that will have a tooltip */
.toolTip, .scoredWord {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* for dots under the hoverable text */
}

/* Tooltip text */
.toolTip .toolTipText, .scoredWord .toolTipText {
    visibility: hidden;
    text-align: center;
    font-weight: 200;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 95%;

    /* Position the tooltip text */
    position: absolute; /* keeps underline from stretching for full width of tooltiptext*/
    z-index: 1; /* allows arrow to appear? */
    bottom: 100%; /* raises box up above text */
    left: 50%;
}

.toolTip .toolTipText, .scoredWord .toolTipText {
    width: 200px;
    margin-left: -100px; /* needs to be negative */
}

.toolTip .toolTipText a {
    color: white;
    text-decoration: underline;
}

.toolTip .toolTipText a:hover {
    color: rgb(228, 224, 224);
}

#optionsSection .toolTip .toolTipText {
    width: 450px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -225px; /* negative half the width */
}

/* creating the arrow at the bottom of the tooltip */
.toolTip .toolTipText::after, .scoredWord .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  }

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .toolTipText, .scoredWord:hover .toolTipText {
    visibility: visible;
}




#singleInputResultsSection .subSection {
    margin-top: 1rem;
}





#tableSection {
    display: flex;
    flex-direction: column;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

table {
    width: 100%;
}

th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.superColumnHeader, .superRowHeader {
    font-size: 1.2rem;
}

.summaryTableContainer td {
    text-align: center;
}

.summaryTableContainer .toolTip {
    border-bottom: 1px dotted white;
}




.fileResultsHeader {
    padding: 8px;
    border-radius: 15px;
    margin-top: 1rem;
    align-items: center;
}

.arrowButton {
    padding: 7px;
}

.fileResultsContainer {
    padding: 10px;
    padding-top: 0px;
}

.scoreAndButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}


.scoredTokensGraph, .corpusScoresGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
