/* colors */
.toolTip .toolTipText, .scoredWord .toolTipText {
    background-color: black;
}

header {
    background-color: #31572C;
}

input::file-selector-button, input:checked {
    background-color: #4F772D;
    accent-color: #4F772D;
}

button {
    background-color: #709041;
}

article > section {
    background-color: #BECE7A;
}

.subSection, .fileResultsHeader, .fileResultsContainer {
    background-color: #F2F7BC;
}

body, textarea, #verdict, #textResult {
    background-color: #F7FBDA;
}





/* text colors */

.toolTip .toolTipText, .scoredWord .toolTipText {
    color: white;
}








/* general stylings */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin: 0;
}

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

header {
    padding: 0.5em;
    color: white;
}

main, header, article, #inputSection > section {
    display: flex;
    flex-direction: column;
}

main, header {
    align-items: center;
}

article {
    width: 80%;
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.large-label {
    font-size: 1.2em;
}

textarea, #verdict, #textResult {
    padding: 1em;
    font-family: 'PT Sans', 'sans-serif';
}

textarea {
    margin-bottom: 1em;
    font-size: inherit;
}

button {
    border-radius: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
}

#verdict, #textResult {
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(90, 90, 90);
}

article > section {
    padding: 0.75rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

#optionsSection, .fileResultsContainer {
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    padding-top: 0px;
}

#optionsSection, #inputSection {
    padding-bottom: 1.5rem;
}

#explanationSection p {
    margin-top: 5px;
    margin-bottom: 0px;
}

#optionsSectionHeader, #optionsSection, #listContainer, .fileResultsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* arrows - referenced https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    /* border: solid black; */
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}




#optionsSection section {
    display: flex;
    flex-direction: column;
}

.subSection {
    padding: 10px;
    border-radius: 10px;
}

#lexiconOptions, #stopwordsOptions {
    width: 45%;
}

#stopwordsOptions p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#customStopwordsSection, #customLexiconSection {
    margin-top: 1rem;
}



input[type="file"] {
    padding-top: 0.75rem;
}

input::file-selector-button {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    color: white;
}


#textInputSection {
    margin-top: 0.75rem;
    display: flex;
}

#input {
    width: 80%;
    margin-left: 7.75%;
    margin-top: 10px;
}

#fileSelectSection {
    margin-top: 1rem;
}



.scoredWord {
    color: #DE0000;
    font-weight: 700;
}

/* container for text that will have a tooltip */
.toolTip, .scoredWord {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* for dots under the hoverable text */
}

/* Tooltip text */
.toolTip .toolTipText, .scoredWord .toolTipText {
    visibility: hidden;
    text-align: center;
    font-weight: 200;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute; /* keeps underline from stretching for full width of tooltiptext*/
    z-index: 1; /* allows arrow to appear? */
    bottom: 100%; /* raises box up above text */
    left: 50%;
}

.toolTip .toolTipText {
    width: 200px;
    margin-left: -100px; /* needs to be negative */
}

.scoredWord .toolTipText {
    width: 120px;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* creating the arrow at the bottom of the tooltip */
.toolTip .toolTipText::after, .scoredWord .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .toolTipText, .scoredWord:hover .toolTipText {
    visibility: visible;
}



#listContainer {
    /* display: flex;
    flex-direction: row; */
    width: 80%;
}

.wordsListContainer {
    /* padding-left: 50px; */
    width: 50%;
}

.wordsListContainer h3 {
    font-size: 1rem;
}

.wordsListContainer ul {
    margin-block-start: 0px;
}






.fileResultsHeader {
    padding: 8px;
    border-radius: 15px;
    margin-top: 1rem;
    align-items: center;
}

.fileResultsButton {
    padding: 7px;
}

.fileResultsContainer {
    padding: 10px;
    padding-top: 0px;
}

.scoreAndButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

